@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   position: relative;
}

nav {
   background-color: #011F26;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#ul_nav {
   height: 70px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 20px;
   display: flex;
   flex-direction: row;
   gap: 20px;
   justify-content: flex-end;
   align-items: center;
}

li {
   list-style-type: none;
}

li > a {
   color: #A5A692;
   font-size: .8em;
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
}
li > a:hover {
   color: #025E73;
}

main {
   background-color: #A5A692;
   height: 100%;
   margin-bottom: 154px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

article#principal_article {
   height: 100%;
   display: flex;
   flex-direction: column;
}

section#info {
   height: 248px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

section#copy {
   height: 256px;
   margin: 0px 40px 0px 0px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}

section#copy > h3 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.6em;
   width: 80%;
   margin: 0px;
   text-align: right;
   letter-spacing: .8px;
   line-height: 30px;
}

section#a_buttons {
   height: 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

section#a_buttons > a {
   font-size: 0.7em;
   font-family: 'Sora', sans-serif;;
   text-decoration: none;
   width: 112px;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}

a#destaque {
   color: #A5A692;
   background-color: #025E73;
}

a#todos {
   color: black;
   border: solid 0.5px;
   text-align: center;
}

section#pessoal {
   height: 544px;
   display: flex;
   flex-direction: column;
}

section#name {
   height: 50%;
   margin-left: 40px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}

section#name > h1 > a {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.6em;
   color: black;
   text-decoration: none;
   margin: 0px;
   width: 70%;
}

section#name > h1 > a:hover {
   font-size: 1.8em;
}

section#name > h2 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.5em;
   font-weight: lighter;
   color: black;
   margin: 0px;
   width: 70%;
}

a#curriculo_download {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1em;
   color: #011F26;
   text-decoration: none;
}

section#img {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 250px;
}

section#img > img {
   width: 178px;
}

article#destaques {
   font-family: 'Sora', sans-serif;
   font-size: 1em;
   height: 100%;
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border-top: solid 3px #011F26;
}

.sem_decoration {
   color: black;
   text-decoration: none;
}

article#destaques a > img {
   width: 100%;
}

section.projetos_destaque {
   width: 100%;
   display: flex;
   flex-direction: column;
}

section.projeto_destaque {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section#sobre {
   background-color: #025E73;
   width: 100%;
   height: 100%;
   padding: 40px 0px 40px 0px;
   margin-bottom: 48px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

section#sobre > p {
   font-family: 'Sora', sans-serif;
   color: white;
   text-align: left;
   width: 70%;
   margin: 0px;
   line-height: 32px;
}

section#sobre img {
   width: 50px;
}

section#contatos {
   font-size: 1.2em;
   font-family: 'Josefin Sans', sans-serif;
   color: #011F26;
   text-align: left;
   background-color: #A5A692;
   height: 150px;
   width: 100%;
   margin: 16px 0px 16px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

section#contatos > p {
   text-align: center;
   width: 100%;
}

div#links_contatos {
   width: 200px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

div#links_contatos > a > img {
   width: 50px;
}

div#links_contatos > a > img:hover {
   width: 60px;
}

section#email {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
}

form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

label {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.7em;
   color: #A5A692;
}

form > input, button {
   width: 60%;
   font-family: 'Sora', sans-serif;
}

footer {
   background-color: #011F26;
   height: 30vh;
   width: 100%;
   position: absolute;
   bottom: 0;
   font-size: 0.5em;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

footer > section > h3 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #A5A692;
}

footer > section > p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #A5A692;
}

footer > section > a {
   color: #A5A692;
   text-decoration: none;
}

section.referencias {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

section.do_footer {
   width: 45%;
}

@media (min-width: 992px) /*and (max-width: 1200px) */{

   @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

   body {
      position: relative;
   }

   article#principal_article {
      margin-bottom: 24px; 
      height: 120%;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: baseline;
   }

   section#info {
      height: 50%;
      width: 312px;
   }

   section#copy {
      margin-right: 0px;
   }

   section#copy > h3 {
      font-size: 2em;
      line-height: 32px;
      width: 349px;
   }

   section#a_buttons {
      justify-content: space-between;
   }

   section#a_buttons > a {
      font-size: 1em;
   }

   section#pessoal {
      height: 500px;
      width: 312px;
   }

   section#name {
      margin: 0px;
   }

   section#name > h1 > a {
      font-size: 2em;
      margin: 0px;
      width: 100%;
   }

   section#name > h1 > a:hover {
      font-size: 2.4em;
   }

   section#name > h2 {
      font-size: 1.7em;
      width: 100%;
   }

   section#img > img {
      height: 100%;
   }

   article#destaques {  
      padding: 0px 0px 38px 0px;
      margin-top: 16px;
      height: 400px;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
   }

   section#projetos_destaque {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: center;
      align-items: stretch;
   }

   section.projeto_destaque {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   article#destaques a > img {
      width: 100%;
   }

   .projeto_destaque:hover {
      width: 40%;
   }

   section#sobre {
      padding: 0px;
      margin: 38px 0px 38px 0px;
      flex-direction: row;
      height: 700px;
   }

   section#sobre > p {
      font-size: 1.3em;
      width: 448px;
   }

   section#contatos {
      height: 100%;
      width: 228px;
      margin: 0px;
   }

   div#links_contatos {
      width: 100%;
   }

   section#email {
      width: 280px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
   }

   form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   label {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 0.7em;
      color: #A5A692;
   }

   form > input {
      width: 60%;
      font-family: 'Sora', sans-serif;
   }

   footer {
      font-size: 0.7em;
      height: 40vh;
   }

   section.do_footer {
      width: 25%;
   }
}

/* telas muito grandes */
/*
@media (min-width: 1200px) {

   article#destaques {
      height: 100%;
      padding: 36px 0px 0px 0px;
   }

   section#copy > h3 {
      font-size: 2em;
      line-height: 32px;
      width: 349px;
   }
}*/