@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

body {
   margin: 0;
   padding: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: #A5A692;
   position: relative;
}

nav {
   background-color: #011F26;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#ul_nav {
   height: 70px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 20px;
   display: flex;
   flex-direction: row;
   gap: 20px;
   justify-content: flex-end;
   align-items: center;
}

li {
   list-style-type: none;
}

li > a {
   color: #A5A692;
   font-size: .8em;
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
}
li > a:hover {
   color: #025E73;
}

main {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1#h1_projetos {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article#principal_article {
   height: 100%;
   display: flex;
   flex-direction: column;
}

section#info {
   height: 248px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

section#copy {
   height: 256px;
   margin: 0px 40px 0px 0px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}

section#copy > h3 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 2em;
   width: 80%;
   margin: 0px;
   text-align: right;
   letter-spacing: .8px;
   line-height: 25px;
}

section#a_buttons {
   height: 45px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

section#a_buttons > a {
   font-size: 1em;
   font-family: 'Sora', sans-serif;;
   text-decoration: none;
   width: 112px;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}

a#destaque {
   color: #A5A692;
   background-color: #025E73;
}

a#todos {
   color: black;
   border: solid 0.5px;
   text-align: center;
}

section#pessoal {
   height: 544px;
   display: flex;
   flex-direction: column;
}

section#name {
   height: 50%;
   margin-left: 40px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}

section#name > h1 > a {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.6em;
   color: black;
   text-decoration: none;
   margin: 0px;
   width: 70%;
}

section#name > h1 > a:hover {
   font-size: 1.8em;
}

section#name > h2 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.5em;
   font-weight: lighter;
   color: black;
   margin: 0px;
   width: 70%;
}

section#img {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 250px;
}

section#img > img {
   width: 178px;
}

article#destaques {
   font-family: 'Sora', sans-serif;
   font-size: 1em;
   height: 100%;
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border-top: solid 3px #011F26;
}

article#destaques a > img {
   width: 100%;
}

section.projetos_destaque {
   width: 100%;
   display: flex;
   flex-direction: column;
}

section.projeto_destaque {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

section#sobre {
   background-color: #025E73;
   width: 100%;
   height: 100%;
   padding: 40px 0px 40px 0px;
   margin-bottom: 48px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

section#sobre > p {
   font-family: 'Sora', sans-serif;
   color: white;
   text-align: left;
   width: 70%;
   margin: 0px;
   line-height: 32px;
}

section#sobre img {
   width: 50px;
}

section#contatos {
   font-size: 1.2em;
   font-family: 'Josefin Sans', sans-serif;
   color: #011F26;
   text-align: left;
   background-color: #A5A692;
   height: 150px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

section#contatos > p {
   text-align: center;
   width: 100%;
}

div#links_contatos {
   width: 200px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

div#links_contatos > a > img {
   width: 50px;
}

div#links_contatos > a > img:hover {
   width: 60px;
}

section#email {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
}

form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

label {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.7em;
   color: #A5A692;
}

form > input, button {
   width: 60%;
   font-family: 'Sora', sans-serif;
}

footer {
   background-color: #011F26;
   width: 100%;
   position: absolute;
   bottom: 0;
}

footer > p {
   font-size: 0.7em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #A5A692;
   text-align: center;
}

/* estilo da página projetos */

body {
   background-color: white;
}

h1#h1_projetos {
   text-align: center;
}

article.article_projeto {
   font-family:  'Sora', sans-serif;
   font-size: 1em;
   padding: 16px;
   margin-bottom: 24px;
   height: 80%;
   width: 80%;
   box-shadow: 1px 8px 8px 0px #67676721;
}

article.article_projeto > h2 {
   padding-top: 16px;
}

section.projeto {
   width: 100%;
   display: flex;
   flex-direction: column-reverse;
}

section.sobre_projeto > a {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.9em;
   color: white;
   text-decoration: none;
   text-align: center;
   background-color: #025E73;
   border-radius: 10px;
   padding: 8px;
}

section.sobre_projeto > a:hover {
   cursor: pointer;
}

img.img_projeto {
   width: 100%;
}