@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

body {
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #A5A692;
}

nav {
   background-color: #011F26;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

#ul_nav {
   height: 70px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 20px;
   display: flex;
   flex-direction: row;
   gap: 20px;
   justify-content: flex-end;
   align-items: center;
}

li {
   list-style-type: none;
}

li > a {
   color: #A5A692;
   font-size: .8em;
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
}
li > a:hover {
   color: #025E73;
}

main {
   height: 100%;
   display: flex;
   flex-direction: column;
}

section#copy {
   height: 256px;
   margin: 0px 40px 0px 0px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}

h3 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.5em;
   width: 70%;
   margin: 0px;
   text-align: right;
   letter-spacing: .8px;
   line-height: 25px;
}

section#info {
   height: 300px;
   display: flex;
   flex-direction: column;
}

section#a_buttons {
   height: 45px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

section#a_buttons a {
   font-size: 1em;
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
   width: 112px;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}

a#destaque {
   color: #A5A692;
   background-color: #025E73;
}

a#todos {
   color: black;
   border: solid 0.5px;
   text-align: center;
}

section#name {
   height: 100%;
   margin-left: 40px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}

h1 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.6em;
   margin: 0px;
   width: 70%;
}

h2 {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.5em;
   margin: 0px;
   width: 70%;
}

section#img {
   display: flex;
   justify-content: center;
}
img {
   width: 30%;
}

section#sobre {
   background-color: #025E73;
   width: 100%;
   display: flex;
   
}

section#sobre > p {
   height: 100px;
   width: 70%;
   font-family: 'Josefin Sans', sans-serif;
   color: white;
}

footer {
   background-color: #011F26;
   display: block;
}

footer > p {
   font-size: 0.7em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #A5A692;
   text-align: center;
}